.container {
    border: solid 2px blue;
    border-radius: 3px;
    position: relative;
    box-sizing: border-box;
    padding: 4px;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: stretch;
    
}
.input {
    border: none;
    outline: none;
    flex-grow: 1;
    margin-block: 4px;
}
.container:focus-within {
    outline: solid 3px black ;
}
.datalist {
    display: none;
    position: absolute;
    width: 100%;
    padding-block: 2%;
    background-color: lightgray;
    left: 0;
    top: 100%;
    
}
.container:focus-within .datalist:not(:empty) {
    display: block;
}