.container {
    background-color: lightgray;
    padding: 4px;
    margin: 2px;
    border-radius: 3px;
    width: min-content;
    display: inline-flex;
    justify-content: center;
    align-content: center;
}
.container > span {
    font-size: 1em;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}